content div
{
	float: left;
	width: 77.2%;
	margin-left: 0.5%;
}

content div div
{
	float: left;
	width: 19%;
	margin-left: 4.5%;
	margin-top: 2%;
	border: 1px solid #E0E0E0;
}

#jeans-name
{
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 5%;
}

#price
{
	font-size: 2.2em;
	font-family: calibri;
	text-align: center;
	color: red;
	font-weight: bold;
	margin-top: 3%;
}

.add
{
	font-size: 1.5em;
	font-family: calibri;
	font-weight: bold;
	text-align: center;
	color: white;
	background-color: purple;
	padding: 3%;
	text-decoration: none;
	z-index: 999;
}

content div div:hover
{
	border: 1px solid purple;
	opacity: 0.7;
}
#add:hover
{
	opacity: 0.7;
	transition: 0.2s ease;
}

content div img:hover
{
	opacity: 0.7;
	transition: 0.2s ease;
}

content:after
{
	content: "";
	display: block;
	clear: left;
}




