footer div
{
	float: left;
	width: 32%;
	margin: 0.5%;
}

footer
{
	background-color: #333333;
	color: white;
}

footer div ul li a
{
	font-size: 1.5em;
	color: #F5FFB5;
	font-family: Calibri;
	text-decoration: none;
}

footer a:hover
{
	color: red;
}

footer div p:first-child
{
	font-size: 2em;
}

footer div p
{
	font-size: 1.25em;
}

#footer-info
{
	padding-left: 1.5%;
}
#footer-contacts p 
{
	text-align: right;
}

#footer-menu
{
	padding-left: 10%;
	width: 20%;
}
footer:after
{
	content: "";
	display: block;
	clear: left;
}

footer > p
{
	font-family: OCTICITY; 
	font-size: 1.75em;
	color: #D9BFC0;
	padding: 0.4%;
}